p:nth-of-type(1) /*The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an element with a lower stack order*/
{
  position: absolute;
  background: lime;
  top: 10px;
  right: 30px;
z-index: -1; /* 1 கொடுத்தும் பாருங்கள் */
}