body{
    background: rgba(32, 32, 32, 0.827);
    /* background: url("../pexels-lachlan-ross-8775687.mp4") */
    /* height: 100vh;
    width: 100vw; */
}

/* #videoP{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
} */

/* .one{
    height: 100vh;
    width: 100vw;
    background: orangered;
    margin: 10px 0;
}

.two{
    background: pink;
} */