body{
    background: rgba(32, 32, 32, 0.827);
    /* background: url("../pexels-lachlan-ross-8775687.mp4") */
    /* height: 100vh;
    width: 100vw; */
}

/* #videoP{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
} */

/* .one{
    height: 100vh;
    width: 100vw;
    background: orangered;
    margin: 10px 0;
}

.two{
    background: pink;
} */

.click{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#red{
    background-color: red;
}
#yellow{
    background: yellow
}
#green{
    background: green;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.clear-game{
    background-color: orange;
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    margin: 2rem 0 ;
    cursor:pointer;
    width: 100%;
}
